
nav {
    display: flex;
    margin : 2% 0;
     a {
    color : @color;
    font-family: @font-family; 
    outline-style: none;
    font-weight: bold;
    text-decoration: none;
    size: 1,2rem;    
    flex-direction: row-reverse;
    align-items: center;  
     }
}
