header {
  display: flex;
  justify-content: center;
  nav {
    display: flex;
    margin: 2% 0;
    a {
      color: @color;
      font-family: @font-family;
      outline-style: none;
      font-weight: bold;
      text-decoration: none;
      size: 1, 2rem;
      flex-direction: row-reverse;
      padding: 0.5rem
    }
    a:first-child {
        border-right: 1px solid black;
    }
    a:nth-child(2) {
        border-right: 1px solid black;
    }
  }
}
